*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

body {
    background-color: #02130e;
    font-size: 100%;
    font-family: sans-serif;
    color: #fff;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}